@media screen and (max-width: 36.25em) {
  .navigation {
    padding: 1em 0 2em 0.8em; }
    .navigation li {
      font-size: 0.9em; }
  h1 {
    font-size: 2.87em;
    line-height: 1.2;
    margin: 0.8em 0 5px; }
  h2 {
    font-size: 1.5em;
    margin: 0 0 1.2em 10px; }
  h3 {
    font-size: 1.2em;
    margin: 5px 0; }
  .about:before {
    font-size: 5em;
    padding: 10px 30px; }
  .title {
    font-size: 0.85em;
    margin: 0; }
  .availability {
    margin-top: 15px; }
  .project-list-item {
    margin-bottom: 20px; }
  figure {
    height: 280px; }
  .project-desc {
    font-size: 0.8em;
    margin-top: -100px;
    border-top: 3px solid #fdc133;
    position: absolute; }
  .project-link {
    margin: 5px 0 15px; }
  .project-type {
    font-size: 0.9em;
    margin-right: 10px; }
  .skills-list,
  .workflow-list {
    font-size: 0.85em; }
  .work {
    margin-top: 30px; } }
