@import 'app/scss/mixin/breakpoints';
@import 'app/scss/mixin/colours';

@include respond-to(small) {
	.navigation {
		background: $dark-grey;
		margin: 0;
		padding: 1em 0 1.8em;
		list-style: none;

		li {
			float: left;
			font-size: 0.9em;
			margin-left: 20px;
			text-transform: uppercase;
		}

		a {
			color: $white;
			text-decoration: none;

			&:hover {
				color: $yellow;
			}
		}
	}

	section {
		margin: 0 10px;
	}

	h1 {
		font-size: 1.8em;
		line-height: 1.2;
		text-align: center;
	}

	h2 {
		font-size: 1.5em;
	}
}