<div ng-controller="workController">
	<section class="work">
		<h2 ng-bind="contentData.about.work"></h2>
		<ul class="project-list">
			<li class="project-list-item" ng-repeat="project in contentData.projects">
				<figure>
					<a ng-href="{{project.url}}" target="_blank">
						<img class="thumbnail" src="{{project.thumb}}" alt="{{project.imgDesc}}" />
					</a>
				</figure>
				<figcaption class="project-desc">
					<h3 ng-bind="project.name"></h3>
					<a class="project-link" ng-href="{{project.url}}" target="_blank" ng-bind="contentData.about.viewText"></a>
					<span class="project-type" ng-repeat="type in project.types" ng-bind="type"></span>
				</figcaption>
			</li>
		</ul>
	</section>
</div>
