<div ng-controller="aboutController">
	<section class="about">
		<h1 ng-bind="contentData.about.intro"></h1>
		<p class="title" ng-bind="contentData.about.title"></p>
		<p class="availability" ng-bind="contentData.about.availability"></p>
	</section>
	<section class="latest-projects">
		<h2 ng-bind="contentData.about.projectTitle"></h2>
		<ul class="project-list">
			<li class="project-list-item" ng-repeat="project in contentData.projects | limitTo: 5">
				<figure>
					<a ng-href="{{project.url}}" target="_blank">
						<img class="thumbnail" src="{{project.thumb}}" alt="{{project.imgDesc}}" />
					</a>
				</figure>
				<figcaption class="project-desc">
					<h3 ng-bind="project.name"></h3>
					<a class="project-link" ng-href="{{project.url}}" target="_blank" ng-bind="contentData.about.viewText"></a>
					<span class="project-type" ng-repeat="type in project.types" ng-bind="type"></span>
				</figcaption>
			</li>
		</ul>
	</section>
	<section class="technologies">
		<h2 ng-bind="contentData.about.tech"></h2>
		<div class="half-col">
			<ul class="skills-list">
				<li class="skills-list-item" ng-repeat="skill in contentData.technologies.skills" ng-bind="skill"></li>
			</ul>
		</div>
		<div class="half-col">
			<ul class="workflow-list">
				<li class="workflow-list-item" ng-repeat="flow in contentData.technologies.workflow" ng-bind="flow"></li>
			</ul>
		</div>
	</section>
</div>
