<div ng-controller="aboutController">
	<section class="about">
		<h1>{{contentData.about.intro}}</h1>
		<h2>{{contentData.about.title}}</h2>
		<p>{{contentData.about.availability}}</p>
	</section>
	<section class="latest-projects">
		<h2>{{contentData.latestProjects.title}}</h2>
		<ul>
			<li ng-repeat="project in contentData.projects | limitTo: 4">
				<h3>{{project.name}}</h3>
				<a ng-href="{{project.url}}">{{project.url}}</a>
				<span ng-repeat="type in project.types">{{type}}</span>
			</li>
		</ul>
	</section>
	<section class="technologies">
		<div class="half-col">
			<h2></h2>
			<ul class="skills">
				<li ng-repeat="skill in contentData.technologies.skills">{{skill}}</li>
			</ul>
		</div>
		<div class="half-col">
			<h2></h2>
			<ul class="workflow">
				<li ng-repeat="flow in contentData.technologies.workflow">{{flow}}</li>
			</ul>
		</div>
	</section>
</div>
